:root {
  font-family:
    "Cascadia Code",
    "Consolas",
    "Courier New",
    monospace;
  color: #d8d8d8;
  background: #050505;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}